.blog-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  background-image: $metalic-skin;

  .blog-header {
    max-width: 100%;
    margin-bottom: 56px;

    &-image {
      width: 100%;
      height: 400px;

      object-fit: cover;
    }

    &-text {
      display: flex;
      flex-direction: column;
      justify-content: center;

      height: 400px;
      width: 100%;
      max-width: 1200px;

      position: absolute;

      &-title {
        font-size: 4rem;
        @media (max-device-width: 450px) {
          font-size: 5rem;
        }
      }

      &-subtitle {
        font-size: 1.3rem;
        @media (max-device-width: 450px) {
          font-size: 2rem;
        }
      }

      &-title,
      &-subtitle {
        text-align: center;
        text-shadow: 0 0 4px grey;
        color: white;
      }
    }
  }

  .blog-content {
    max-width: 800px;
    align-content: center;
    margin-right: auto;
    margin-left: auto;

    blockquote {
      margin: 1.5em 10px;
      padding: 0.5em 1em;

      border-left: 8px solid white;

      quotes: "\201C""\201D""\2018""\2019";

      &:before {
        color: white;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
      }

      & p {
        display: inline;
      }

      @media (max-device-width: 450px) {
        font-size: 2rem;
        margin-left: 1em;
      }
    }

    &-image {
      max-width: 800px;
    }

    &-section {
      display: flex;
      flex-direction: column;

      &.row-flex {
        @media (min-device-width: 520px) {
          flex-direction: row;
          align-items: center;
        }
      }

      &-title {
        font-size: 2rem;
        margin-bottom: 20px;
        color: $primary-text-color;
        min-width: 280px;
        padding-right: 12px;
        padding-left: 12px;

        @media (max-device-width: 450px) {
          font-size: 3rem;
          margin-bottom: 1em;
        }
      }

      &-text {
        font-size: 1rem;
        margin-bottom: 28px;
        color: $primary-text-color;
        @media (max-device-width: 450px) {
          font-size: 2rem;
        }
      }
    }
  }
}
