footer {
  grid-column: 1/6;
  grid-row: 6;

  color: white;
  background-color: $dark-bg-color;

  @media (max-device-width: 450px) {
    font-size: 1.5em;
  }
}

.foot-content {
  @media (max-device-width: 450px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.logo-footer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;

  img {
    @media (max-device-width: 450px) {
      margin-top: 1em;
      width: 350px;
      margin-bottom: 1em;
    }
  }
}

.foot-links {
  display: flex;
  justify-content: space-around;

  align-items: center;
  @media (max-device-width: 450px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0;
    margin-bottom: 1em;

    font-size: 1.2rem;
  }

  a {
    margin: 0;

    color: white;
    font-size: 1.5rem;

    transition: all 0.6s;

    @media (max-device-width: 450px) {
      font-size: 2.2rem;
    }

    &:hover {
      color: $purple-base;
    }
  }
}

.social-links {
  width: 180px;
  font-size: 2rem;

  li {
    list-style: none;
    display: inline-block;
  }

  i {
    color: white;
    transition: all 0.6s;

    &:hover {
      color: $purple-base;
    }
  }

  @media (max-device-width: 450px) {
    justify-content: space-between;

    width: 300px;
    margin: 0 auto;

    font-size: 4rem;
  }
}
