// General styles

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/detailed-background.jpg");
  background-attachment: fixed;
}

.page-container {
  max-width: none;
  font-family: $body-font;
  color: $text;

  @media (min-device-width: 1200px) {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }
}

.navbar-custom {
  padding: 1em 2em 0;

  background-color: $dark-bg-color;
  box-shadow: 0 4px 2px -2px gray;

  .navbar-container {
    display: flex;
    justify-content: flex-end;

    width: 100%;

    @media (max-device-width: 450px) {
      justify-content: center;
    }

    .navbar-nav {
      display: flex;
      justify-content: center;
      align-items: center;

      padding-bottom: 0.5em;

      text-align: center;

      .nav-item {
        a.nav-link {
          margin: 1em;

          font-size: larger;
          color: white;

          transition: all 0.6s;

          @media (max-device-width: 450px) {
            margin: 0.25em;

            font-size: 2.5rem;
          }

          &:hover {
            color: $purple-base;
          }
        }
      }
    }
  }
}

.navbar-toggler-icon {
  @media (max-device-width: 450px) {
    width: 55px;
    height: 45px;
  }
}

// GRID LAYOUT

.home-main {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0;

  position: relative;

  //Support old browsers: background photo
  background-image: url("../images/rave-attack2.jpg");
  background-size: cover;
  background-position: 50% center;

  @supports (display: grid) {
    display: grid;
    grid-template-columns:
      1fr minmax(10em, max-content) minmax(14em, max-content) minmax(1em, 1fr)
      fit-content(28em);
    grid-template-rows: 10vh 25vh 30vh 15vh 10vh 2vh;

    //Reset old browsers styles: background substitution
    background-image: $metalic-skin;
  }

  @media (max-device-width: 450px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10vh 25vh 10vh 15vh 30vh auto;
    height: 100vh;
  }

  .main-photo {
    width: 100%;
    height: 100%;

    object-fit: cover;

    // Support old browsers: disable the element (it'll be act as background in main-container)
    display: none;

    @supports (display: grid) {
      display: block;
      grid-column: 1 / 4;
      grid-row: 1 / 4;
    }

    @media (max-device-width: 450px) {
      @supports (display: grid) {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
      }
    }
  }

  .woman-figure {
    width: 100%;
    height: 100%;

    z-index: 3;

    object-fit: contain;

    //Support old browsers: disable the element
    display: none;

    @supports (display: grid) {
      display: block;
      grid-column: 4;
      grid-row: 1 / 7;
    }

    @media (max-device-width: 450px) {
      object-fit: cover;

      @supports (display: grid) {
        grid-column: 2;
        grid-row: 3 / 7;
      }
    }
  }

  .home-title {
    @supports (display: grid) {
      grid-column: 2 / 6;
      grid-row: 2;
    }

    z-index: 10;
    padding-left: 0.25em;
    padding-right: 0.25em;
    margin-bottom: initial;

    @media (max-device-width: 1200px) {
      padding-right: 2.25em;
    }

    @media (max-device-width: 450px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;

      @supports (display: grid) {
        grid-column: 1 / 6;
        grid-row: 1 / 3;
      }

      padding-right: 2.25em;
      padding-left: 2.25em;
    }

    h1,
    h2 {
      font-family: $header-font;
      color: $rave-purple;
      text-shadow: 4px 14px 30px $rave-purple;

      //Suppor old browsers: centering headings
      text-align: center;
      margin: 0 auto;

      @supports (display: grid) {
        margin: 0;
        text-align: initial;
      }

      @media (max-device-width: 450px) {
        text-align: center;
        text-shadow: 2px 6px 15px $rave-purple;
      }
    }

    h2 {
      font-size: calc(2em + 1vw);
      color: $rave-purple;
      text-shadow: 4px 14px 30px $rave-shadow;

      @media (max-device-width: 450px) {
        font-size: 4rem;
        text-shadow: 2px 6px 15px $rave-shadow;
      }
    }

    h1 {
      font-size: calc(2em + 3.5vw);

      @media (max-device-width: 450px) {
        font-size: 6rem;
      }
    }
  }

  .link-red-button {
    //Support old browsers: width 100% and padding
    width: 330px;
    padding: 2em;
    margin-top: 2em;

    @supports (display: grid) {
      //Reseting old browsers styles
      padding: 0;
      margin-top: 0;

      //Grid approach
      grid-column: 1 / span 1;
      grid-row: 5 / span 1;
      max-width: 200px;
    }

    display: flex;
    justify-content: center;
    text-align: center;

    background-color: $accent;
    transition: 0.5s all;

    z-index: 5;

    @media (max-device-width: 450px) {
      @supports (display: grid) {
        grid-column: 1 / 2;
        grid-row: 3 / span 1;
      }

      font-size: 2rem;
      max-width: 100vw;
      height: 100%;
      padding: 0.5em 3em;
    }

    a {
      height: fit-content;
      margin: auto 0;

      text-decoration: none;
      color: $main;
      text-transform: uppercase;
    }

    &:hover {
      cursor: pointer;
      background-image: linear-gradient(45deg, $accent, purple);
      transform: scaleX(110%);
      box-shadow: 0 0 2px 3px grey;
    }
  }

  .about {
    margin-bottom: 1em;
    padding: 2em;

    align-self: end;

    line-height: 1.3;

    background-image: $orangish-skin;

    z-index: 5;

    @supports (display: grid) {
      grid-column: 4 / span 2;
      grid-row: 3;
    }

    @media (max-device-width: 450px) {
      @supports (display: grid) {
        grid-column: 1 / span 1;
        grid-row: 5 / span 1;
      }

      align-self: flex-start;
      height: 100%;

      font-size: 2rem;
    }
  }

  .more-info {
    display: block;

    //Support old browsers: visibility text button
    color: white;
    padding-left: 2em;

    @supports (display: grid) {
      //Reseting old browsers style
      color: $text;
      padding-left: 0;

      //Grid approach
      grid-column: 4;
      grid-row: 4;
    }

    justify-self: end;
    align-self: center;

    margin-bottom: 2em;
    margin-right: 3vh;

    z-index: 5;

    text-transform: uppercase;
    text-decoration: none;

    font-weight: bold;

    @media (max-device-width: 450px) {
      @supports (display: grid) {
        grid-column: 1 / span 1;
        grid-row: 6 / span 1;
      }

      margin: 2em 0;

      font-size: 2rem;
      align-self: flex-start;
      justify-self: center;
    }

    &::before {
      display: block;
      content: "";

      width: 50%;
      height: 4px;

      margin-bottom: 1em;

      background-color: $accent;
      transition: width 0.3s;
    }

    &:hover::before {
      width: 100%;
    }
  }

  .location {
    text-transform: uppercase;
    line-height: 1.5;
    font-weight: bold;

    //Support old browsers: adding some padding top/bottom
    padding: 1em;

    @supports (display: grid) {
      //Reset old style browsers
      padding: 0;

      //Grid approach
      grid-column: 3 / span 1;
      grid-row: 4 / span 1;
    }

    display: flex;
    z-index: 2;

    background-image: $orangish-skin;
    text-align: center;

    @media (max-device-width: 450px) {
      @supports (display: grid) {
        grid-column: 1 / span 1;
        grid-row: 4;
      }

      margin: 0;
      padding: 2em 0;

      font-size: 2rem;
    }

    p {
      margin: auto;
    }
  }
}

.banner {
  height: 150px;
  width: 30px;

  position: fixed;
  z-index: 10;
  top: 40px;
  right: 0px;

  background-image: $sandwich-banner;
  background-position: -50px 0;

  background-size: 180%;

  border-radius: 20% 0 0 40%;
  box-shadow: 1px 1px 3px 2px grey;
  transition: all 0.5s;

  @media (max-device-width: 450px) {
    width: 50px;
    top: 160px;
  }
}

.banner:hover {
  width: 40px;
}

.banner .tooltip-text {
  width: 120px;

  padding: 5px 0;
  margin-left: -100px;

  position: absolute;
  z-index: 1;
  bottom: 40%;
  left: -100%;

  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;

  visibility: hidden;
}

.banner:hover .tooltip-text {
  visibility: visible;
}

.banner .tooltip-text::after {
  content: "";
  margin-left: -5px;

  position: absolute;
  top: 30%;
  left: 100%;

  border: 4px solid black;
  transition: rotate(45deg);
}

.banner:active {
  width: 225px;

  border-radius: 10% 0 0 30%;

  opacity: 1;

  background-image: url("../images/copa-extra.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.banner:active .tooltip-text {
  visibility: hidden;
}

.animated {
  animation: heart 0.8s infinite ease-in-out;
}

@keyframes heart {
  from {
    transform: scale(100%);
  }
  to {
    transform: scale(102%);
  }
}
