// General styles

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/detailed-background.jpg");
  background-attachment: fixed;
}

.page-container {
  max-width: none;
  font-family: $body-font;
  color: $text;

  @media (min-device-width: 1200px) {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }
}

.navbar-custom {
  padding: 1em 2em 0;

  background-color: $dark-bg-color;
  box-shadow: 0 4px 2px -2px gray;

  .navbar-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    @media (max-device-width: 450px) {
      justify-content: center;
    }

    .navbar-nav {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding-bottom: 0.5em;

      .nav-item {
        a.nav-link {
          font-size: larger;

          color: white;
          margin: 1em;
          transition: all 0.6s;

          @media (max-device-width: 450px) {
            font-size: 2.5rem;
            margin: 0.25em;
          }

          &:hover {
            color: $purple-base;
          }
        }
      }
    }
  }
}

.navbar-toggler-icon {
  @media (max-device-width: 450px) {
    width: 55px;
    height: 45px;
  }
}

hr {
  opacity: 0;
}

:-ms-input-placeholder,
:root main {
  display: block;
}

// GRID LAYOUT

main.home-main {
  width: 100%;
  margin: 0 auto;
  position: relative;

  padding: 0;

  //Support old browsers: background photo
  background-image: url("../images/rave-attack.jpg");
  background-size: cover;
  background-position: 50% center;

  @supports (display: grid) {
    background-image: $metalic-skin;
    display: grid;
    grid-template-columns:
      1fr minmax(10em, max-content) minmax(14em, max-content) minmax(1em, 1fr)
      fit-content(28em);
    grid-template-rows: 10vh 25vh 30vh 15vh 10vh 2vh;

    @media (max-device-width: 450px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 10vh 25vh 10vh 15vh 30vh auto;
      height: 100vh;
    }
  }

  .main-photo {
    object-fit: cover;

    width: 100%;
    height: 100%;

    // Support old browsers
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    @supports (display: grid) {
      display: block;
      visibility: visible;
      grid-column: 1 / 4;
      grid-row: 1 / 4;
    }

    @media (max-device-width: 450px) {
      @supports (display: grid) {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
      }
    }
  }

  .woman-figure {
    z-index: 3;
    width: 100%;
    height: 100%;
    object-fit: contain;

    //Support old browsers:
    display: none;

    @supports (display: grid) {
      display: block;
      grid-column: 4 / 5;
      grid-row: 1 / 7;
    }

    @media (max-device-width: 450px) {
      object-fit: cover;

      @supports (display: grid) {
        grid-column: 2 / 3;
        grid-row: 3 / 7;
      }
    }
  }

  .home-title {
    @supports (display: grid) {
      grid-column: 2 / 6;
      grid-row: 2;
    }

    z-index: 10;
    padding-left: 0.25em;
    padding-right: 0.25em;
    margin-bottom: initial;

    @media (max-device-width: 1200px) {
      padding-right: 2.25em;
    }

    @media (max-device-width: 450px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;

      @supports (display: grid) {
        grid-column: 1 / 6;
        grid-row: 1 / 3;
      }

      padding-right: 2.25em;
      padding-left: 2.25em;
    }

    h1,
    h2 {
      font-family: $header-font;
      color: $rave-purple;
      text-shadow: 4px 14px 30px $rave-purple;

      //Suppor told browsers: centering headings
      text-align: center;
      margin-left: auto;
      margin-right: auto;

      @supports (display: grid) {
        margin: 0;
        text-align: initial;
      }

      @media (max-device-width: 450px) {
        text-align: center;
        text-shadow: 2px 6px 15px $rave-purple;
      }
    }

    h2 {
      font-size: calc(2em + 1vw);
      color: $rave-purple;
      text-shadow: 4px 14px 30px $rave-shadow;

      @media (max-device-width: 450px) {
        font-size: 4rem;
        text-shadow: 2px 6px 15px $rave-shadow;
      }
    }

    h1 {
      font-size: calc(2em + 3.5vw);

      @media (max-device-width: 450px) {
        font-size: 6rem;
      }
    }
  }

  .link-red-button {
    //Support old browsers: width 100% and padding

    width: 330px;
    padding: 2em;
    margin-top: 2em;
    @supports (display: grid) {
      padding: 0;
      margin-top: 0;
      grid-column: 1 / span 1;
      grid-row: 5 / span 1;
      max-width: 200px;
    }

    display: flex;
    justify-content: center;
    text-align: center;
    background-color: $accent;
    transition: 0.5s all;
    z-index: 5;

    @media (max-device-width: 450px) {
      @supports (display: grid) {
        grid-column: 1 / 2;
        grid-row: 3 / span 1;
      }

      font-size: 2rem;
      max-width: 100vw;
      height: 100%;
      padding: 0.5em 3em;
    }

    a {
      text-decoration: none;
      color: $main;
      text-transform: uppercase;
      height: fit-content;
      margin: auto 0;
    }

    &:hover {
      cursor: pointer;
      background-image: linear-gradient(45deg, $accent, purple);
      transform: scaleX(110%);
      box-shadow: 0 0 2px 3px grey;
    }
  }

  .about {
    line-height: 1.3;
    margin-bottom: 1em;
    z-index: 5;
    background-image: $orangish-skin;

    @supports (display: grid) {
      grid-column: 4 / span 2;
      grid-row: 3;
    }

    align-self: end;
    padding: 2em;

    @media (max-device-width: 450px) {
      @supports (display: grid) {
        grid-column: 1 / span 1;
        grid-row: 5 / span 1;
      }

      font-size: 2rem;
      align-self: flex-start;
      height: 100%;
    }
  }

  .more-info {
    display: block;

    //Support old browsers: visibility text button
    color: white;
    padding-left: 2em;

    @supports (display: grid) {
      color: $text;
      padding-left: 0;
      grid-column: 4;
      grid-row: 4;
    }

    justify-self: end;
    align-self: center;
    text-transform: uppercase;
    text-decoration: none;

    margin-bottom: 2em;
    margin-right: 3vh;
    font-weight: bold;
    z-index: 5;

    @media (max-device-width: 450px) {
      @supports (display: grid) {
        grid-column: 1 / span 1;
        grid-row: 6 / span 1;
      }

      font-size: 2rem;
      align-self: flex-start;
      justify-self: center;
      margin: 0;
      margin-top: 2em;
      margin-bottom: 2em;
    }

    &::before {
      content: "";
      display: block;
      height: 4px;
      background-color: $accent;
      margin-bottom: 1em;
      width: 50%;
      transition: width 0.3s;
    }

    &:hover::before {
      width: 100%;
    }
  }

  .location {
    text-transform: uppercase;
    line-height: 1.5;
    font-weight: bold;

    //Support old browsers: adding some padding top/bottom
    padding: 1em;

    @supports (display: grid) {
      padding: 0;
      grid-column: 3 / span 1;
      grid-row: 4 / span 1;
    }

    z-index: 2;
    background-image: $orangish-skin;
    text-align: center;
    display: flex;

    @media (max-device-width: 450px) {
      @supports (display: grid) {
        grid-column: 1 / span 1;
        grid-row: 4;
      }

      font-size: 2rem;
      margin: 0;
      padding-top: 2em;
      padding-bottom: 2em;
    }

    p {
      margin: auto;
    }
  }
}

.banner {
  height: 150px;
  width: 30px;
  position: fixed;
  z-index: 10;
  top: 40px;
  right: 0px;
  background-image: $sandwich-banner;
  background-position: -50px -0px;
  border-radius: 20% 0 0 40%;
  background-size: 180%;
  box-shadow: 1px 1px 3px 2px grey;
  transition: all 0.5s;

  @media (max-device-width: 450px) {
    top: 160px;
    width: 50px;
  }
}

.banner:hover {
  width: 40px;
}

.banner .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 40%;
  left: -100%;
  margin-left: -100px;
}

.banner:hover .tooltip-text {
  visibility: visible;
}

.banner .tooltip-text::after {
  content: "";
  position: absolute;
  top: 30%;
  left: 100%;
  margin-left: -5px;
  border: 4px solid black;
  rotate: 45deg;
}

.banner:active {
  border-radius: 10% 0 0 30%;
  width: 225px;
  opacity: 1;
  background-image: url("../images/copa-extra.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.banner:active .tooltip-text {
  visibility: hidden;
}

.animated {
  animation: heart 0.8s infinite ease-in-out;
}

@keyframes heart {
  from {
    transform: scale(100%);
  }
  to {
    transform: scale(102%);
  }
}
