<span class="border border-primary rounded px-3 pt-4 pb-4 mt-4">
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email:</label>
      <input type="email" class="form-control col-sm-8" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Escribe aquí tu correo">
    </div>

    <fieldset class="form-group mt-4">
      <div class="row">
        <legend class="col-form-label col-sm-2 pt-0">Elige tu entrada</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
            <label class="form-check-label" for="gridRadios1">
              Primer día
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
            <label class="form-check-label" for="gridRadios2">
              Segundo día
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
            <label class="form-check-label" for="gridRadios3">
              Los dos días
            </label>
          </div>
        </div>
      </div>
    </fieldset>

    <div class="form-check mt-3">
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
      <label class="form-check-label" for="defaultCheck1">
        Quiero estar al tanto de cualquier novedad
      </label>
    </div>

    <a href="./buy-success.html" class="btn btn-primary mt-3" data-toggle="alert" data-target="#success-alert">
      Reservar entrada
    </a>

  </form>
</span>