@use "sass:color";

@import url("https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600;900&display=swap");

$mqMinWidth: 420px;

$primary-text-color: #1a1420;

$dark-bg-color: #202020;

$white-bg: #f0f0f0;

$dark-grey-line: dark-grey;

$header-font: "Orbitron", sans-serif;

$body-font: "Nunito";

$main: #fff;
$accent: #fe320f;
$text: #282828;

$background: pink;

$accordion-color: white;
$accordion-bg: #202020;

$accordion-button-active-color: white;
$accordion-button-active-bg: black;
$accordion-body-padding-x: 2em;

$accordion-button-padding-x: 2em;

$navbar-light-color: white;
$navbar-light-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-light-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");

$metalic-skin: linear-gradient(45deg, #444444, lightgrey, #585858);
$orangish-skin: linear-gradient(45deg, orange, ivory);

$purple-base: #b05ace;

//Main Title
$rave-purple: rgb(233, 66, 255);
$rave-shadow: rgb(140, 84, 177);

$theme-colors: (
  "primary": $rave-shadow,
  "dark": #222222,
);

$sandwich-banner: linear-gradient($purple-base, #fbcda8, $purple-base);
